<div class="sponsors-logos">
    <div class="sponsors-heading"><strong>BROUGHT TO YOU BY</strong></div>
    <div class="logo-box">
        <ul>
            <li>
                <a href="https://aws.amazon.com" target="_blank"><img src="{{ site.baseurl }}/images/sponsors/aws_logo.png" alt="AWS logo"/></a>
            </li>
            <li>
                <a href="http://www.etsy.com" target="_blank"><img src="{{ site.baseurl }}/images/sponsors/etsy_logo.png" alt="Etsy logo"/></a>
            </li>
            <li>
                <a href="http://www.smalltownheroes.be" target="_blank"><img src="{{ site.baseurl }}/images/sponsors/smalltownheroes_logo.png" alt="Small Town Heroes logo"/></a>
            </li>
            <li>
                <a href="http://www.newrelic.com" target="_blank"><img src="{{ site.baseurl }}/images/sponsors/newrelic_logo.png" alt="New Relic logo"/></a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="http://www.oreilly.com/" target="_blank"><img src="{{ site.baseurl }}/images/sponsors/oreilly_logo.png" alt="O'Reilly logo"/></a>
            </li>
            <li>
                <a href="https://dev.twitter.com" target="_blank"><img src="{{ site.baseurl }}/images/sponsors/twitter_logo.png" alt="Twitter logo"/></a>
            </li>
            <li>
                <a href="https://rollout.io" target="_blank"><img src="{{ site.baseurl }}/images/sponsors/rollout_logo.png" alt="Rollout.io logo"/></a>
            </li>
            <li>
                <a href="http://electric-cloud.com/lp/continuous-discussions/" target="_blank"><img src="{{ site.baseurl }}/images/sponsors/electriccloud_logo.png" alt="Electric Cloud logo"/></a>
            </li>
        </ul>
        <div>
            <a class="logo-text" href="/sponsor">You?</a>
        </div>
    </div>
</div>
