/* ==========================================================================
   Masthead
   ========================================================================== */

.masthead {
  margin-top: 2.5em;
  @include clearfix;
  @include media($medium) {
    margin-top: 2.5em;
  }
  .wrap {
    text-align: center;
    max-width: em(440);
    padding-right: 20px;
    padding-left: 20px;
    @include media($medium) {
      max-width: em(728);
      padding-right: 60px;
      padding-left: 60px;
    }
    @include media($large) {
      max-width: em(960);
    }
  }
}

.small-masthead {
  text-align: center;
  padding-top: 1em;
}

/*
   Site logo
   ========================================================================== */

.site-logo {
  img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;

    @include animation-duration(1s);
    @include animation-delay(.05s);
    @include media($medium) {
      width: 150px;
      height: 150px;
      margin-bottom: 10px;
    }
    @include media($large) {
      width: 200px;
      height: 200px;
      margin-bottom: 15px;
    }
  }
}

/*
   Site title/name
   ========================================================================== */

.site-title {
  margin-bottom: 0;
  margin-top: 0;
  word-spacing: -10px;
  @include animation-duration(1s);
    @include animation-delay(.75s);
  a {
    color: $title-color;
  }
}

/*
   Site subtitle text
   ========================================================================== */

.site-subtitle {
  margin-top: .5em;
  word-spacing: normal;
  @include font-size(16);
  font-weight: 400;
  @include animation-duration(1s);
  @include animation-delay(.75s);
  @include media($medium) {
    @include font-size(20);
  }
}

/*
   Site description text
   ========================================================================== */

.site-description {
  margin-top: .75em;
  font-family: $alt-font;
  word-spacing: normal;
  @include font-size(16);
  font-weight: 400;
  @include animation-duration(1s);
  @include animation-delay(.75s);
  @include media($medium) {
    @include font-size(20);
  }
}
