/* ==========================================================================
   Program (Schedule)
   ========================================================================== */

#schedule {
	text-align: center;

	section.day {
		&:first-child {
			@include media($medium) {
				border-right: 2px solid $aqua;
			}
			padding-right: 60px;
			padding-left: 0;
		}

		padding-left: 60px;
		padding-right: 0;

		display: inline-block;
		vertical-align: top;

		ul.session-info {
			list-style-type: none;
			margin-top: 20px;
			padding-left: 0;

			.session-time {
				font-weight: 900;
			}
			.session-title {
				font-size: 120%;
			}
			.session-presenters {
				font-style: italic;
			}
		}
	}

}