/* ==========================================================================
   Program (Schedule)
   ========================================================================== */

#schedule {
    text-align: center;

    section.day {
        padding-right: 0;
        padding-left: 0;
        display: inline-block;
        vertical-align: top;

        @include media($medium) {
            padding-left: 60px;
            padding-right: 0;
        }

        &:first-child {
            @include media($medium) {
                border-right: 2px solid $aqua;
                padding-right: 60px;
                padding-left: 0;
            }
        }

        ul.session-info {
            list-style-type: none;
            margin-top: 20px;
            padding-left: 0;

            .session-time {
                font-weight: 900;
            }
            .session-title {
                font-size: 120%;
            }
            .session-presenters {
                font-style: italic;
            }
        }
    }
}